{% extends "::base.html.twig" %}


{% block contenido %}
    <h1>FORM</h1>
    <form id="FormTicket" name="FormTicket" method="POST" enctype="multipart/form-data">
        <table width="100%">
            <tr>
                <td>{% trans %}Brand{% endtrans %}</td>
                <td>{% trans %}Model{% endtrans %}</td>
                <td>{% trans %}Version{% endtrans %}</td>
            </tr>
            <tr>
                <td width="33%">
                    <select name="make" id="make">
                        <option selected value="0">{% trans %}Brand not specified{% endtrans %}</option>
                        {% if makes is defined %}
                            {% for item in makes %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td width="34%">
                    <select name="model" id="model">
                        <option value="0">{% trans %}Select brand first{% endtrans %}</option>
                    </select>
                </td>
                <td width="33%">
                    <select name="version" id="version">
                        <option value="0">{% trans %}Select model first{% endtrans %}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>{% trans %}System{% endtrans %}</td>
                <td>{% trans %}Subsystem{% endtrans %}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <select name="system" id="system">
                        <option value="0">{% trans %}System not specified{% endtrans %}</option>
                        {% if systems is defined %}
                            {% for item in systems %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td>
                    <select name="subsystem" id="subsystem">
                        <option value="0">{% trans %}Select system first{% endtrans %}</option>
                    </select>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">
                    {% trans %}Description{% endtrans %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea name="description" style="width: 100%; height: 140px;"></textarea>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% trans %}Photo attachment{% endtrans %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                   <input type="file" name="file1">
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                   <input type="file" name="file2">
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                   <input type="file" name="file3">
                </td>
                <td></td>
            </tr>
            <td>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" name="call">&nbsp;{% trans %}I want a technical expert to call me back{% endtrans %}
                </td>
                <td><input type="submit" value="{% trans %}Send ticket{% endtrans %}"></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block postjs %}
    <script>
        $(document).ready(function(){
        
            $('#make').change(function(){
                {# Vaciamos siempre el valor de version al cambiar de make #}
                var options = $("#version");
                options.empty();
                options.append(($("<option />").text("{% trans %}Select model first{% endtrans %}")));
                
                {# Realizamos esto siempre y cuando el valor sea verídico #}
                if($("#make option:selected").val() != 0){
                    
                    {# Mensaje en el select mientras carga los modelos #}
                    $("#model").html('<option>{% trans %}Loading models from{% endtrans %} '+$(this[this.selectedIndex]).text()+'...</option>');

                    {# Llamada AJAX al controlador para recuperar los modelos de la marca #}
                    $.ajax({
                        url: 'ticket/pickModel/'+$("#make option:selected").val(),
                        type: 'GET',
                        dataType: 'json',
                        
                        success: function(data){
                            var options = $("#model");
                            options.empty();
                            options.append(($("<option />").text("{% trans %}Model not specified{% endtrans %}")));
                            
                            $.each(data, function(){
                                options.append($("<option />").val(this.id).text(this.name));
                            })
                            
                            $('#model').change(function(){
                                {# Vuelvo a empezar, ahora para la versión #}
                                {# Realizamos esto siempre y cuando el valor sea verídico #}
                                if($("#model option:selected").val() != 0){
                                   
                                    {# Mensaje en el select mientras carga los modelos #}
                                    $("#version").html('<option>{% trans %}Loading versions from{% endtrans %} '+$(this[this.selectedIndex]).text()+'...</option>');

                                    {# Llamada AJAX al controlador para recuperar las versiones del modelo #}
                                    $.ajax({
                                        url: 'ticket/pickVersion/'+$("#model option:selected").val(),
                                        type: 'GET',
                                        dataType: 'json',
                                        
                                        success: function(data){
                                            var options = $("#version");
                                            options.empty();
                                            options.append(($("<option />").text("{% trans %}Version not specified{% endtrans %}")));
                                            
                                            $.each(data, function(){
                                                options.append($("<option />").val(this.id).text(this.name));
                                            })
                                            
                                            {# Aquí vendría otra operación en cadena si hubiera que ponerla #}
                                        }
                                    })
                                } else {
                                    var options = $("#version");
                                    options.empty();
                                    options.append(($("<option />").text("{% trans %}Select model first{% endtrans %}")));
                                }
                            })
                        }
                    })
                } else {
                    var options = $("#model");
                    options.empty();
                    options.append(($("<option />").text("{% trans %}Select make first{% endtrans %}")));
                }
            })
            
            $('#system').change(function(){
                {# Realizamos esto siempre y cuando el valor sea verídico #}
                if($("#system option:selected").val() != 0){
                    
                    {# Mensaje en el select mientras carga los sistemas #}
                    $("#subsystem").html('<option>{% trans %}Loading subsystems from{% endtrans %} '+$(this[this.selectedIndex]).text()+'...</option>');

                    {# Llamada AJAX al controlador para recuperar los subsistemas del sistema #}
                    $.ajax({
                        url: 'ticket/pickSubsys/'+$("#system option:selected").val(),
                        type: 'GET',
                        dataType: 'json',
                        
                        success: function(data){
                            var options = $("#subsystem");
                            options.empty();
                            options.append(($("<option />").text("{% trans %}Subsystem not specified{% endtrans %}")));
                            
                            $.each(data, function(){
                                options.append($("<option />").val(this.id).text(this.name));
                            })
                        }
                    })
                } else {
                    var options = $("#subsystem");
                    options.empty();
                    options.append(($("<option />").text("{% trans %}Select system first{% endtrans %}")));
                }
            })
        });
    </script>
{% endblock %}