{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Edit Order</li>
    </ol>

    <h1>Editar order</h1>
    
    <form action="#" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
            {{ form_widget(form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>

{% endblock %}