<ul>
	{% if not is_granted('ROLE_HIDE_REPORT') %}<li>REPORTS</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_ORDER') %}<li>ORDERS</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li>WORKSHOPS</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li>SHOPS</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li><a href="{{ path('users') }}">USERS</a></li>{% endif %}
</ul>
