<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Ticketing{% endblock %} | AD Service</title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}{% endblock %}
    </head>


    <body id="MainBody" class="asr_MainBody">

        {% block header %}
            {% include '::header.html.twig'%}
        {% endblock %}


        <div id="MainContent" class="asr_MainContent">
            {% block body %}{% endblock %}
        </div>

        <footer id="MainFooter" class="asr_MainFooter">
            {% block footer %}
                {% include '::footer.html.twig'%}
            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>