<script>
//Funciones para el autorellenado de los combos de campos de coches de los formularios

    $(document).ready(function() {
        // Limpiamos el combo de subsystem del formulario para cerrarlo
        {% if ticket.subsystem.system is not defined %}
        $('select[id=new_ticket_form_subsystem]').empty();
        $('select[id=edit_ticket_form_subsystem]').empty();
        $('select[id=close_ticket_form_subsystem]').empty();
        {% endif %}
    });

    //cambiar model en funcion de brand
    $('#id_system').change(function() {
        var url_ajax = "{{ path("ticket_system") }}";
        fill_subsystem(url_ajax);
    });


    //vacia tbl_similar
    $('#new_car_form_brand').change(function() { clear_tbl_similar('brand' ) });
    $('#id_system'         ).change(function() { clear_tbl_similar('system') });

    //llena tbl_similar
    $('#new_car_form_model'       ).change(function() { list_tbl_similar() });
    $("#new_ticket_form_subsystem").change(function() { list_tbl_similar() });

    /**
     * busca tickets que coincidan en modelo o subsistema con el ticket actual
     * @return AjaxFunction
     */
    function list_tbl_similar() {

        var url_ajax = "{{ path("tbl_similar") }}";
        var url_show = "{{ path("showTicketReadonly", { "id_ticket": "PLACEHOLDER" }) }}";

        fill_tbl_similar(url_ajax, url_show);
    }
    /**
     * vacia tbl_similar
     * @return AjaxFunction
     */
    function clear_tbl_similar(parent) {

        $( "#tbl_similar" ).empty();

        if(parent == 'brand'         ) { var son = 'Model';     }
        else { if (parent == 'system') { var son = 'Subsystem'; }}

        $( "#tbl_similar" ).append("<p>Select "+ son +" for matching similar tickets..</p>");
    }
</script>
