<div class="tblContainer">

    <legend>{% trans %} car {% endtrans %}</legend>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_brand">{% trans %} brand {% endtrans %} *</label>
        <select id="new_car_form_brand" name="new_car_form_brand" class="form-control" multiple="multiple", required>
            {% for brand in brands %}
                <option value={{ brand.id }}>{{ brand.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_model">{% trans %} model {% endtrans %} *</label>
        <select id="new_car_form_model" name="new_car_form_model" class="form-control" multiple="multiple", required data-url="{{ path("car_version") }}"></select>
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_version">{% trans %} version {% endtrans %}</label>
        <select id="new_car_form_version" name="new_car_form_version" class="form-control" multiple="multiple" >
        </select>
    </div>
    {% include 'TicketBundle:Includes:_rest_car.html.twig' %}
</div>