{% extends '::layout.html.twig' %}

{% block body %}

    <table class="table" style="width: 50%; margin-left: 450px;">
        <tr>
            <td align="right"><a href="{{ path('workshop_new') }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-user"></span> Crear un workshop nuevo</a></td>
        </tr>
    </table>

    {% include 'WorkshopBundle:Default:_list.html.twig'  %}

{% endblock%}

