<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Ticketing{% endblock %} | AD Service</title>
        
        {% block stylesheets %}{% endblock %}
            
        {% block javascripts %}{% endblock %}
    </head>
    

    <body id="MainBody">
        
        {% block header %} 

            {% include '::header.html.twig'%}

        {% endblock %} 
              
         
        <div id="MainContent">{% block body %}{% endblock %}</div>
        
        {% block footer %}
            {% include '::footer.html.twig'%}
        {% endblock %}
        
    </body>
        
</html>