<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ticketing{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# Activar en caso de que la redirección al login al cerrarse sesión no funcione correctamente
            (ADService OLD): Aunque esté configurado security.yml no redirecciona al cerrarse sesión por inactividad #}
        {# Si el usuario no está logeado redirecciona al login (Para plantillas con acceso anonimo como "help" sobreescribir el bloque) #}
        {#
         ## locale y user estan definidos en header, eliminar de allí para evitar duplicados
        {% set locale = app.request.locale %}
        {% set user = app.user %}

        {% block checkUserLogged %}
            {% if user == null %} GOTOLOGIN-> {% endif %}
        {% endblock %}
        #}
        <div id="header">
            {% block header %}
                {% include '::header.html.twig'%}
            {% endblock %}
        </div>

        <div id="breadcrumbs">
            <ol>{% block breadcrumbs %}{% endblock %}</ol>
        </div>

        <div id="body">

            {% block flashMessages %}
                {% for flashMessage in app.session.flashbag.get('ok') %} <div class="ok">{{ flashMessage }}</div>{% endfor %}
                {% for flashMessage in app.session.flashbag.get('ko') %} <div class="ko">{{ flashMessage }}</div>{% endfor %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                <footer> {# Footer Text #} </footer>
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>