[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="ad-service-web"
    database_user="root"
    database_password="roger"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="db5af6fd668f327cafd579d177d8fad7"

    mailer_transport  = smtp
    mailer_host       = mail.ad-service.es
    mailer_user       = ticketing@ad-service.es
    mailer_password   = jrmeioH7P-2y