/*
    Document   : style.css
    Created on : 21-ene-2014, 10:11:21
    Author     : dani
    Description:
        stylesheet para ADService
*/

/*
    BODY
*/
html {
    height: 100%;
    /*background-color:  #001739;*/
}
body {
    height: 100%;
    /*background-color:  #001739;*/
}
#MainBody {
    background-color: transparent;
    margin: 20px;
}

#MainHeader {
    background-color:  transparent;
}

#MainContent {
    background-color:  white;
    padding: 20px;
    overflow: hidden;
}

#MainFooter {
    background-color: #f5f5f5;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: smaller;
}
.img_logo {
    max-height: 58px;
}
.img_icon {
    max-height: 20px;
}
.margined {
    margin-right: 40px;
}
.floating {
    float:left;
}
.mb3 {
    margin-bottom: 3px;
}
.btn-menu {
    display: inline-block;
    color: #ffffff;
    background-color: #428bca;
    /*
    background-image: url(http://www.librosweb.es/website/css/images/logo.gif);
    */
    border-color: #357ebd;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 280px;
}
.btn-menu:hover {
    text-decoration: none;
}
.btn-footer {
    display: inline-block;
    color: #428bca;
    margin-right: 10px;
}
.btn-date {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}
.btn-blue {
    color: #428bca;
}


/*
    HEADER
*/
#MainTitle {
    color: azure;
}

.navbar {
    background-color: #428bca;
    max-height: 75px;
}
.btn-header{
    height: 30px;
}
/*
    Plantillas
*/
.info {
    width: 30%;
    padding: 10px;
    float: left;
}

.content {
    width: 70%;
    padding: 10px;
    float: left;
}
.colIzq15 {
    width: 15%;
    padding: 10px;
    float: left;
}
.colIzq {
    width: 30%;
    padding: 10px;
    float: left;
}

.colDer {
    width: 70%;
    padding: 10px;
    float: left;
}
.colDer85 {
    width: 85%;
    padding: 10px;
    float: left;
}

.tblContainer {
    width: 100%;
    padding-left: 20px;
}

.padded {
    padding: 5px;
}
.pad-left {
    padding-left: 20px;
}
.txtComment {
    color: #a3a3a3;
}

.txtContainer {
    border: 1px solid rgba(155,155,155,0.3);
}
.txtContainer legend {
    padding-left: 20px;
}
.txtContainer p {
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}

/*
    BOTONERA
 */
#btnfilters {
    width: 30%;
    float: left;
}

/*
    PAGINACION
 */
.pagination_content {
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
}
.page_number {
    width: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
.page_selected {
    background-color: #aaa;
}

/*
    TABLA INCIDENCIAS
*/
.widget .widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    text-shadow: 0 1px 0 #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
    border-bottom: 1px solid #bababa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}


.widget .widget-header h3 {
    top: 0px;
    position: relative;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    line-height: 18px;
    margin-top: inherit;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
}

 /*
    FORMULARIO NUEVO
 */
.contact-form {
    margin-top:15px;
}

.error {
  color: red;
  font-weight: bold;
}

 /*
    LISTADO TICKETS
 */
.colList {
    float: left;
    width: 50%;
}
.colFilter {
    float: left;
    width: 20%;
}
.colTickets {
    float: left;
    width: 80%;
}
/*
    LISTA MENSAJES
*/
.legend {
    background-color: gainsboro;
    padding-left: 20px;
}

.message {
    background-color: ghostwhite;
    min-height: 100px;
}

.ac-container{
    width: 40%;
    margin-left: 30px;
    float: left;
}
.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article.ac-small{
    height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 230px;
}
.ac-message {
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    border: 0px;
    width: 100%;
}

.btn100 {
    width: 100%;
    margin-top: 15px;
}
.btn50 {
    width: 50%;
}

/*
    HISTORIAL MENSAJES
*/
.subtitle {
    margin: 0;
    color: gray;
    font-size: 0.9em;
}

.comment {
    margin-left: 25px;
}

/*
    FOTOS MENSAJES
*/
.imgPost {
    width:50%;
}

/***************************************************************************/

/*@import url(http://fonts.googleapis.com/css?family=Varela+Round);*/

html, body { background: #001739 }

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
