/*
    Document   : style.css
    Created on : 21-ene-2014, 10:11:21
    Author     : dani
    Description:
        stylesheet para ADService
*/
.env  {   font-size: 3em; float: left; margin-right: 30px; color: red; }
.dev  { background-color: #FF0!important; }
.test { background-color: #0F0!important; }

/*
    BODY
*/

html, body {
    background: url(../images/icon/background.jpg) repeat;
}

legend {
    clear: both;
}

#MainBody {
    background-color: transparent;
    margin: 0px;
}

.MainHeader {
    height: 5vh;
    background-color:  transparent;
    min-width: 800px;
}

#MainContent {
    min-height: 91vh;
    background-color:  white;
    padding: 45px 20px 100px 20px;
    overflow: hidden;
    min-width: 800px;
}

#MainFooter {
    min-height: 4vh;
    background-color: #428BCA;
    color: #fff;
    padding: 12px 0;
    font-size: smaller;
    text-align: center;
    border-radius: 4px;
}

#MainFooter p {
    margin: 0 !important;
}

#profile {background: #004493;}

#profile:hover {color: #428BCA;}

.img_left {  
    max-height: 20px;
    float: left;
}
.img_icon_right {  
    max-height: 20px;
    float: right;
}
.img_icon {
    max-height: 20px;
}
.img_icon_left {
    max-height: 40px;
    margin-right: 5px;
}
.margined {
    margin-right: 40px;
}
.floating {
    float:left;
}
.mb3 {
    margin-bottom: 3px;
}
.btn-menu {
    display: inline-block;
    color: #ffffff;
    background-color: #428bca;
    /*
    background-image: url(http://www.librosweb.es/website/css/images/logo.gif);
    */
    border-color: #357ebd;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 280px;
}
.btn-menu:hover {
    text-decoration: none;
}
/*.btn-footer {
    display: inline-block;
    color: #428bca;
    margin-right: 10px;
}*/
.btn-date {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}
.btn-blue {
    color: #428bca;
}
.btn-change-pass {
    margin-top: 20px
}
.btn-disabled {
    background-color: #888!important;
}

/*
    HEADER
*/
#MainTitle {
    color: azure;
}

.navbar {
    background-color: #428bca;
    height: 50px;
    margin-bottom: 0px!important;
    padding: 0 37px;
}

.btn-header{
    height: 30px;
}
/*
    Plantillas
*/
.info {
    width: 30%;
    padding: 10px;
    float: left;
}

.alert {
  float: left;
  background-color: #428bca;
  color: #FFF;
  font-size: 19px;
  width: 100%;
  text-align: center;
}

.alert_created {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #428bca;
  border-radius: 4px;
  color: #428bca;
  font-size: 19px;
  width: 100%;
  text-align: center;
}
.return_btn {
    margin-bottom: -35px!important;
}

.content {
    width: 70%;
    padding: 10px;
    float: left;
}
.colIzq15 {
    width: 150px;
    padding: 10px;
    float: left;
}
.colIzq {
    padding: 10px;
    float: left;
    width: 30%;
}

.col100 {
    padding: 10px;
    float: left;
    width: 100%;
}
.colDer {
    padding: 10px;
    float: left;
    width: 60%;
}
.colDer85 {
    width: 85%;
    padding: 10px;
    float: left;
}

.tblContainer {
    width: 100%;
    padding-left: 20px;
}

.padded {
    padding: 5px;
}
.pad-left {
    padding-left: 20px;
}
.txtComment {
    color: #a3a3a3;
}

.txtContainer {
    border: 1px solid rgba(155,155,155,0.3);
}
.txtContainer legend {
    padding-left: 20px;
}
.txtContainer p {
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}

/*
    BOTONERA
 */
#btnfilters {
    width: 30%;
    float: left;
}

/*
    PAGINACION
 */
.pagination_content {
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
}
.page_number {
    width: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
.page_selected {
    background-color: #aaa;
}

/*
    TABLA INCIDENCIAS
*/
.widget .widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    text-shadow: 0 1px 0 #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
    border-bottom: 1px solid #bababa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}


.widget .widget-header h3 {
    top: 0px;
    position: relative;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    line-height: 18px;
    margin-top: inherit;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
}

 /*
    FORMULARIO NUEVO
 */
.contact-form {
    margin-top:15px;
}

.error {
  color: red;
  font-weight: bold;
}

.error_cif {
  color: red;
  font-weight: bold;
}
 /*
    LISTADO TICKETS
 */
.colList {
    float: left;
    width: 50%;
}
.colFilter {
    float: left;
    width: 20%;
}
.colTickets {
    float: left;
    width: 80%;
}
/*
    LISTA MENSAJES
*/
.legend {
    background-color: gainsboro;
    padding-left: 20px;
}

.message {
    background-color: ghostwhite;
    min-height: 100px;
}

.ac-container{
    width: 40%;
    margin-left: 30px;
    float: left;
}
.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article.ac-small{
    height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 230px;
}
.ac-message {
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    border: 0px;
    width: 100%;
}

.btn100 {
    width: 100%;
    margin-top: 15px;
}
.btn50 {
    width: 50%;
}

/*
    HISTORIAL MENSAJES
*/
.subtitle {
    margin: 0;
    color: gray;
    font-size: 0.9em;
}

.comment {
    margin-left: 25px;
}

/*
    FOTOS MENSAJES
*/
.imgPost {
    width:50%;
}

/***************************************************************************/

/*@import url(http://fonts.googleapis.com/css?family=Varela+Round);*/

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

.form-control_ged {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
.form-control_ged:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.form-control_ged:-moz-placeholder {
    color: #999999;
}
.form-control_ged::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.form-control_ged[disabled], .form-control_ged[readonly], fieldset[disabled] .form-control_ged {
    background-color: #EEEEEE;
    cursor: not-allowed;
}
textarea.form-control_ged {
    height: auto;
}

.dropdown-menu {
    min-width: 100px!important;
}
.language {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.user {
    float: right;
    margin-top: 5px;
    margin-right: -17px;
}

.img_logo {
    height: 40px;
    margin-top: 5px;
}

.h100 {
    height: 100px !important;
}
.h65 {
    height: 65px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.change_page {
    padding-left: 10px;
    padding-right: 10px;
}
.pdl0 {
    padding-left: 0px !important;
}
.prl0 {
    padding-right: 0px !important;
}
#car {
    font-size: 0.7em;
}
.pending_application {
    background: none repeat scroll 0 0 #f00;
    float: left;
    line-height: 15px;
    margin-left: -14px;
    margin-top: -35px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    color: #FFFFFF !important;
}
.pending_application:hover {
    color: #FFFFFF !important;
}
.pending_application2 {
    background: none repeat scroll 0 0 #f00;
    float: right;
    line-height: 15px;
    padding: 5px;
    color: #FFFFFF !important;
}
.pending_application3 {
    background: none repeat scroll 0 0 #f00;
    float: left;
    line-height: 15px;
    margin-left: 99px;
    margin-top: -28px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    color: #FFFFFF !important;
}

/* Estilos para el asesor */

.asr_navbar {
    height: 70px;
    margin-bottom: 0px!important;
}

.asr_img_logo {
    margin-top: 8px;
    width: 500px;
}

.asr_btn-default {padding: 3px!important;}

.asr_slct-default {
    padding: 3px!important;
    min-width: 100px;
}

.asr_language { margin: 19px 19px 0 0;}

.asr_user { margin: 19px 0 0 0;}

.asr_MainBody {
  margin: -15px 0 0 0!important;
}

.asr_MainContent{
    padding: 0 0 20px 0!important;
    margin-top: 23px;
    min-height: 85vh!important;
}
.asr_MainFooter{
    margin-top: 0!important;
}

.asr_wrapper {
    padding: 0px 20px;
}

.asr_info {
    border-right: 1px solid #eee;
    min-height: 50vh!important;
}

.asr_form-control {
    height: 30px!important;
    border-radius: 7px!important;
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.075)!important;
}

.asr_form-control[disabled],
.asr_form-control[readonly],
fieldset[disabled] .asr_form-control {
    background-color: #f0f0f0;
}

.asr_form-textarea {
    width: 97%!important;
    border-radius: 7px!important;
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.075)!important;
}

.asr_btn {
    margin-top: 5px!important;
    padding-top: 4px!important;
}

.asr_btn_search {
    padding-top: 4px!important;
}

.asr_pending_application2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF !important;
    min-width: 35px;
    padding: 5px;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    background: none repeat scroll 0 0 #e1001a;
}

/* GED BTNS */
#ged_btns_min {
    width: 225px;
    position: relative;
    float: right;
    right: 125px;
    margin: 0 0 0 -225px;
    padding: 0 15px;
}
#ged_btns_min legend {
    display: none;
}
#ged_btns_min .btn {
    margin: 0 3px;
}


/* autocomplete */

.ui-autocomplete {
    width: 122px!important;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0!important;
    background-color: #fff;
    font-size: 12px;
}

.ui-autocomplete li.ui-menu-item {
    border: 1px solid #ccc;
    list-style: none;
    padding: 2px 10px;
}
.ui-autocomplete li.ui-menu-item:hover {
    color: #428bca;
}

.ui-helper-hidden-accessible div {
    display: none;
}

/* helpers */

.no-margin { margin: 0!important; }

.tc { text-align: center; }

.fl {
    float:left!important;
}
.fr {
    float:right!important;
}
.mt20 {
    margin-top: 20px;
}
.mt5 {
    margin-top: 5px;
}
.pd0 {
    padding: 0!important;
}
.pd_form {
    padding: 0 5px 0 0!important;
}

.pd_txt {
    padding: 10px 15px;;
}

/* grids */

.w10  { width:  10%!important; }
.w15  { width:  15%!important; }
.w20  { width:  20%!important; }
.w25  { width:  25%!important; }
.w30  { width:  30%!important; }
.w35  { width:  35%!important; }
.w40  { width:  40%!important; }
.w45  { width:  45%!important; }
.w50  { width:  50%!important; }
.w55  { width:  55%!important; }
.w60  { width:  60%!important; }
.w65  { width:  65%!important; }
.w70  { width:  70%!important; }
.w75  { width:  75%!important; }
.w80  { width:  80%!important; }
.w85  { width:  85%!important; }
.w90  { width:  90%!important; }
.w95  { width:  95%!important; }
.w100 { width: 100%!important; }

.grid-15  {
    width:  14%!important;
    margin-right: 1%;
    float: left;
}
.grid-20  {
    width:  19%!important;
    margin-right: 1%;
    float: left;
}
.grid-25  {
    width:  24%!important;
    margin-right: 1%;
    float: left;
}
.grid-33  {
    width:  30%!important;
    margin-right: 3.3%;
    float: left;
}

.grid-66  {
    width:  60%!important;
    margin-right: 3.3%;
    float: left;
}

.grid {
    float: left;
    margin-right: 10px;
}
.grid-full {
    float: left;
    margin-bottom: 10px;
}

.lbl_lgray {
    color: #838383;
}

#more_information_einatech {
    cursor: pointer;
    line-height: 75px;
    padding-left: 15px;
}