{% extends '::layout.html.twig' %}

{% block body %}
    <br/>
    <table class="table" style="width: 50%; margin-left: 450px;">
        <tr>
            <td align="center">
                <a id="type_admin"    href="{{ path('user_new', {'type':'admin'   })}}" class="btn btn-primary">{% trans %} Admin    {% endtrans %}</a>
                <a id="type_assessor" href="{{ path('user_new', {'type':'assessor'})}}" class="btn btn-primary">{% trans %} Assessor {% endtrans %}</a>
                <a id="type_ad"       href="{{ path('user_new', {'type':'ad'      })}}" class="btn btn-primary">{% trans %} AD       {% endtrans %}</a>
                <a id="type_user"     href="{{ path('user_new', {'type':'user'    })}}" class="btn btn-primary">{% trans %} User     {% endtrans %}</a>
            </td>
        </tr>
    </table>
    
    </br>
    </br>
{% endblock%}