<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <!--T.Funcionales ()
                T.Unitarios   ()  -->
            <!--<directory>../src/Adservice/UtilBundle/Tests/Entity/Languages.php</directory>-->
            <!--T.Funcionales ()
                T.Unitarios   ()  -->
            <!--<directory>../src/Adservice/UtilBundle/Tests/Entity/Countries.php</directory>-->
            <!--T.Funcionales ()
                T.Unitarios   ()  -->
            <directory>../src/Adservice/UtilBundle/Tests/Entity/RegionTest.php</directory>
            <!--T.Funcionales ()
                T.Unitarios   (Province)  -->
            <directory>../src/Adservice/UtilBundle/Tests/Entity/ProvincesTest.php</directory>
            
            <!--T.Funcionales ()
                T.Unitarios   (Partner)  -->
            <directory>../src/Adservice/PartnerBundle/Tests/Entity</directory>
            <!--T.Funcionales ()
                T.Unitarios   (Typology, Workshop)  -->
            <directory>../src/Adservice/WorkshopBundle/Tests/Entity</directory>
            <!--T.Funcionales (Login, User)
                T.Unitarios   (Role, User)  -->
            <directory>../src/Adservice/UserBundle/Tests</directory>
            <!--Brands-->
            <!--Models-->
            <!--Versions-->
            <!--Cars-->
            <!--States-->
            <!--Tickets-->
            <!--Posts-->
            <!--Systems-->
            <!--SubSystems-->
            <!--Incidences-->
            

        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage" title="ADService" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>


    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>