{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_typologies {% endtrans %}</li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

        <legend>{% trans %} menu.list_typologies {% endtrans %}
            <a id="newTypology" href="{{ path('typology_edit') }}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> {% trans %} new.typology {% endtrans %}</a></td>
        </legend>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} country {% endtrans %} </label>
            <select id="flt_country" class='form-control'>
                    <option value="none">{% trans %} all {% endtrans %}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country }}</option>
                {% endfor %}
        </select></div>
        {% endif %}
    </div>
    {% include 'WorkshopBundle:Typology:_list.html.twig'  %}

    {% include 'UtilBundle:jquery_twig:typology_filter_country_jquery.html.twig' %}

{% endblock %}