{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li class="active">List of Tickets</li>
    </ol>

{% endblock  %}

{% block info %}

	{% if is_granted('ROLE_ASSESSOR') %}

        {% if workshop.id != "" %}  {% include 'TicketBundle:Ticket:workshop/show_workshop.html.twig'   %}
        {% else %}                  {% include 'TicketBundle:Ticket:workshop/search_workshop.html.twig' %}  {% endif %}

    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
    {% endif %}

    {% include 'TicketBundle:Ticket:includes/_filters_ticket.html.twig' %}

{% endblock  %}

{% block content %}

    {% if is_granted('ROLE_ASSESSOR') %}
        {% if workshop.id != "" %}  {% include 'TicketBundle:Ticket:ticket/list_ticket.html.twig'  %}
        {% else %}                  {% include 'TicketBundle:Ticket:ticket/history_ticket.html.twig' %}  {% endif %}
    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
        {% include 'TicketBundle:Ticket:ticket/list_ticket.html.twig' %}
    {% endif %}

    {% include 'TicketBundle:Default:fill_table_jquery.html.twig' %}

{% endblock  %}

{% block additionalJavascripts %}{% endblock %}