
    <legend>{% trans %} ticket {% endtrans %} #{{ ticket.id }}</legend>

	    {% if ticket.assignedTo != "" %}<p><b>{% trans %} assigned_to {% endtrans %}:</b>{{ ticket.assignedTo }} </p>{% endif %}

	    <legend>{% trans %} description {% endtrans %}</legend>
	    <p> {{ ticket.description }} </p>

	    <legend>{% trans %} solution {% endtrans %}</legend>
	    <p> {{ ticket.solution }} </p>


    	{% if ( is_granted('ROLE_ASSESSOR')) %}

    		{% include 'TicketBundle:Ticket:show_ticket_info.html.twig' %}
        	{% include 'TicketBundle:Post:show_posts.html.twig'    	    %}

		{% endif %}