{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Tickets</a></li>
      <li class="active">#{{ ticket.id }}</li>
    </ol>

{% endblock  %}

{% block info %}

	{% if is_granted('ROLE_ASSESSOR') %}

        {% set workshop = ticket.workshop %}
        {% include 'TicketBundle:Ticket:workshop/show_workshop.html.twig'  %}

    {% endif %}

        {% set car      = ticket.car      %}
        {% include 'TicketBundle:Ticket:car/show_car.html.twig'            %}

{% endblock  %}

{% block content %}

    <div class="form-group">
        <form action="{{ path('showTicket', {'id_ticket' : ticket.id }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

            {% include 'TicketBundle:Ticket:ticket/show_ticket.html.twig'  %}

        </form>
    </div>

{% endblock  %}
