{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Posts</a></li>
      <li class="active"><a href="{{ path('showTicket', {'id_ticket': ticket.id}) }}">#{{ ticket.id }}</a> Posts</li>
    </ol>

    <div class="tblContainer">
        {# muestra los datos del ticket #}
        {% include 'TicketBundle:Default:includes/_data_ticket.html.twig' %}
    </div>

{# mensajes del TICKET #}
    {% for post in ticket.posts %}
    {# muestra el cuadro del post #}
        {% include 'TicketBundle:Default:includes/_post.html.twig' %}
    {% endfor %}
    <hr>
    {% include 'TicketBundle:Default:includes/_reply.html.twig' %}
{% endblock %}