
    <legend>Ticket #{{ ticket.id }}</legend>


	    <legend>Description</legend>
	    <p> {{ ticket.description }} </p>

	    {% if ticket.assignedTo != "" %}<p><b>Assigned To:</b>{{ ticket.assignedTo }} </p>{% endif %}

    	{% if ( is_granted('ROLE_ASSESSOR')) %}

    		{% include 'TicketBundle:Ticket:show_ticket_info.html.twig' %}
        	{% include 'TicketBundle:Post:show_posts.html.twig'    	    %}

		{% endif %}