/*
    Document   : style.css
    Created on : 02-ene-2017, 10:11:12
    Author     : DMaya
    Description: stylesheet para Auto Diagnostic Service (ADService)
*/

h1 { color: #0FF; }

/* DataTable */
	#datatable,
	#datatable-rows { display:none; }
	.dataTable { display:table!important; }

	#list label,
	#list-rows label {
		font-size: 0;
	}
	#list label a,
	#list-rows label a {
		font-size: 17px;
	}