{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block main %}

     {% if motors|length != 0 %}
        {# Si encuentra un ticket #}
        <table id="tbl_motors_from_workshop" class="table table-hover table-list-search">
            <thead>
                <tr>
                    <th>{% trans %} motor {% endtrans %}</th>
                </tr>
            </thead>
            <tbody id="ticketBody">
                {% for motor in motors %}

                    <tr>
 						<td>{{ motor.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% else %}
            <p class="alert padded" align="center">{% trans %} not_found {% endtrans %}</p>
        {% endif %}

{% endblock  %}
