
<form action="{{ path('listTicket') }}" id="form_workshop_info" class="form" role="form" method="post" enctype="multipart/form-data"  data-numeric="{% trans %} code.numeric {% endtrans %}" data-check="{% trans %} code.partner {% endtrans %}">
    <div class="form-group">
        <label style="width: 100%;">{% trans %} code {% endtrans %} <a id="lbl_code" style="color:red"></a></label>
        <input type="text" id="w_idpartner" name="w_idpartner" class="btn50 floating form-control" style="width: 50%;" placeholder="{% trans %} partner {% endtrans %}">
        <input type="text" id="w_id"        name="w_id"        class="btn50 floating form-control" style="width: 50%;" placeholder="{% trans %} workshop {% endtrans %}">
        <label style="width: 100%;">{% trans %} email {% endtrans %} / {% trans %} tel {% endtrans %}</label>
        <input type="text" id="w_email"     name="w_email"     class="form-control" placeholder="{% trans %} email {% endtrans %}">
        <input type="text" id="w_tel"       name="w_tel"       class="form-control" placeholder="{% trans %} tel {% endtrans %}">
        <input type="submit" class="btn btn-primary" id="btn_check" value="{% trans %} btn.search {% endtrans %}">
    </div>
</form>