{% extends '::layout.html.twig' %}

{% block body %}

	<ol class="breadcrumb">
		<li class="active"><a href="{{ path("_login")}}">{% trans %} home {% endtrans %}</a></li>
		<li class="active">{% trans %} help {% endtrans %}</li>
	</ol>

	<h1 class="tc">{% trans %}help.adservice{% endtrans %}</h1>

	<br>
	<div class="tc">
    	<h2>93 395 23 08</h2>
    </div>

	<div class="tc">
    	<h2>
    		<a href="{% trans %}help.manual{% endtrans %}" target="_blank">{% trans %}help.check_manual{% endtrans %}</a>
    	</h2>
    </div>
	<br>
	<br>
	<br>
	<br>

    <div class="tc">{% trans %}help.video{% endtrans %}</div>

{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}
