
<legend>{% trans %} actions {% endtrans %}</legend>

    {% if workshop.id is defined and workshop.id != "" %}

    {# New Ticket #}
        <a class="btn btn-primary" id="newTicket" href="{{ path('newTicket', { 'id_workshop' : workshop.id }) }}">{% trans %} new.ticket {% endtrans %}</a>

    {# <form action="{{ path('listTicketFiltered') }}" id="listTicketFiltered" class="form" role="form" method="post" enctype="multipart/form-data"> #}
        <p>
            <input type="hidden" id="id_workshop" name="id_workshop" value="{{ workshop.id }}">
    {% endif %}

            {% trans %} ticket.flt.searchBy.id {% endtrans %}: <input type='text' class="form-control" id='flt_id' name='flt_id' placeholder='{% trans %} id {% endtrans %}'>

    {% if workshop.id is defined and workshop.id != "" %}
            <p> <input type='checkbox' id='flt_open'   name='flt_open'  > {% trans %} open   {% endtrans %}
                <input type='checkbox' id='flt_closed' name='flt_closed'> {% trans %} closed {% endtrans %}</p>
    {% endif %}

            <button type="button" class="btn btn-primary" id="btn_search" name="btn_search">{% trans %} btn.search {% endtrans %}</button>
        </p>
    {# </form> #}

    <script type="text/javascript"> $('#newTicket').focus(); </script>