{% if is_granted('ROLE_ASSESSOR') %}

{# 	<legend>{% trans %} ticket.repeated {% endtrans %}</legend>

	<input type="hidden" id="txt_repeated" value="{% trans %} ticket.similar.matching {% endtrans %}">
	<div id="tbl_repeated">
		<p>{% trans %} ticket.repeated.matching {% endtrans %}</p>
	</div> #}

	<legend>{% trans %} ticket.similar {% endtrans %}</legend>

	<input type="hidden" id="txt_similar" value="{% trans %} ticket.similar.matching {% endtrans %}">
	<div id="tbl_similar">
		<p>{% trans %} ticket.similar.matching {% endtrans %}</p>
	</div>

{% endif %}