<div class="modal fade" id="modal_webservice_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    &times;
                </button>
                <h5 class="modal-title" id="modal_webservice_title">Información recuperada de la DGT</h5>
            </div>
            <div class="modal-body">
                <h5>Por favor seleccione el vehículo correcto</h5>
                <div id="modal_webservice_select_options">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel'|trans }}</button>
                <button type="button" id="modal-btn-accept" class="btn btn-primary">{{ 'accept'|trans }}</button>
            </div>
        </div>
    </div>
</div>