
{# mensajes del TICKET #}
    <legend>Seguimiento</legend>

	{% if ticket.posts | length > 0 %}

		{% for post in ticket.posts %}

			{% include 'TicketBundle:Ticket:includes/_post.html.twig' %}

		{% endfor %}
	{% else %}
		<p> no response yet </p>
	{% endif %}