
    <legend> {% trans %} edit.ticket.info {% endtrans %} </legend>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_ticket_form_importance">{% trans %} importance {% endtrans %}</label>
        {{ form_widget(form.importance, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="id_system">{% trans %} system {% endtrans %}</label>
        <select class="form-control" id="id_system" {# multiple="multiple" #} required>
             <option value="0">...</option>
            {% for system in systems %}
                <option value="{{ system.id }}"
                    {% if ticket.subsystem != null and ticket.subsystem.system.id == system.id %} selected {% endif %}
                > {{ system.name | trans }} </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_ticket_form_subsystem">{% trans %} subsystem {% endtrans %}</label>
        {{ form_widget(form.subsystem, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
    </div>
