
    <legend>Ticket #{{ ticket.id }} {% include 'TicketBundle:Ticket:includes/_assign_btn.html.twig'   %} </legend>


	    <legend>Description</legend>
	    <p> {{ ticket.description }} </p>

	    {% if ticket.assignedTo != "" %}<p><b>Assigned To:</b>{{ ticket.assignedTo }} </p>{% endif %}

    	{% if ( is_granted('ROLE_ASSESSOR')) %}

    		{% if ticket.blockedBy  == null  or ticket.blockedBy != app.security.getToken().getUser() %}

				{% if ticket.importance  != "" %}{% include 'TicketBundle:Ticket:ticket/show_ticket_info.html.twig' %}{% endif %}

            	{% include 'TicketBundle:Ticket:post/show_posts.html.twig'     %}

			{% elseif ticket.blockedBy == app.security.getToken().getUser() %}

				{% include 'TicketBundle:Ticket:ticket/edit_ticket_info.html.twig'  %}
				{{ form_rest(form) }}
				{% include 'TicketBundle:Ticket:post/show_last_post.html.twig'   	%}
			 	{% include 'TicketBundle:Ticket:post/reply.html.twig'  				%}

			{% endif %}
		{% else %}
			{% if ticket.blockedBy  == null %}
            	{% include 'TicketBundle:Ticket:post/show_posts.html.twig'      %}
			 	{% include 'TicketBundle:Ticket:post/reply.html.twig'  			%}
		 	{% endif %}
		{% endif %}