{% extends '::layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Acceso usuarios AD Service</h3>
                </div>
                <div class="panel-body">
{#                    <form accept-charset="UTF-8" role="form">#}
                    <form id="login_form" name="login_form" action="{{ path('user_login_check') }}" method="post">
                        {% if error %}
                            <div>{{ error.message }}</div>
                        {% endif %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User" name="_username" type="text" id="username" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="_password" type="password" value=""  id="password">

                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" id="btn_login" name="btn_login" type="submit" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}