
{# mensajes del TICKET #}
    <legend>{% trans %} tracing {% endtrans %}</legend>

	{% if ticket.posts | length > 0 %}

		{% set post_length = ticket.posts | length  %}
		{% set last_post   = ticket.posts[post_length - 1]  %}

		{% for post in ticket.posts %}

			{% include 'TicketBundle:Post:_post.html.twig' %}

		{% endfor %}
	{% else %}
		<p> {% trans %} any.response {% endtrans %} </p>
	{% endif %}