{# muestra el cuadro del post #}

<div class='txtContainer'>

    <fieldset>
    {# Marca con un color diferente los mensajes del usuario #}
        {% if post.owner == app.security.getToken().getUser() %}
            <legend style="background: azure;"> {{ post.owner.username }}
        {% else %}
            <legend> {{ post.owner.username }}
        {% endif %}
            </legend>

            <div class="colDer"> <p> {{ post.message }} </p> </div>

            <div class="colIzq">
                {% if post.document is not null %}
                    <img class="imgPost" src="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}">
                {% endif %}
            </div>
    </fieldset>
</div>