{% extends "TicketBundle:Default:incidence.html.twig" %}

{% block content %}

    <h3>Incidencias (Asesor)</h3>
    
    <div class="container">
        
        {% for incidence in incidences %}
        
            <p>Titulo  {{ incidence.ticket.title }} </p>
            <p>Taller  {{ incidence.ticket.user.username }} </p>
            <p>Solucion  {{ incidence.solution }} </p>
            <hr>
        {% endfor %}
        
    </div>    
{% endblock %}