
{# mensajes del TICKET #}
    <legend>Seguimiento</legend>

	{% if ticket.posts | length > 0 %}

		{% set post_length = ticket.posts | length  %}
		{% set post 	   = ticket.posts[post_length - 1]  %}

			{% include 'TicketBundle:Post:_post.html.twig' %}

	{% else %}
		<p> no response yet </p>
	{% endif %}
