
{# mensajes del TICKET #}
    <legend>{% trans %} follow {% endtrans %}</legend>

	{% if ticket.posts | length > 0 %}

		{% for post in ticket.posts %}

			{% include 'TicketBundle:Post:_post.html.twig' %}

		{% endfor %}
	{% else %}
		<p> {% trans %} any.response {% endtrans %} </p>
	{% endif %}