<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ticketing | AD Service</title>
        <link rel="shortcut icon" href='favicon.ico' />
	    <link rel="stylesheet" href='bundles/util/css/style.css'>
	    <link rel="stylesheet" href='bundles/util/css/bootstrap.css'>
	    <link rel="stylesheet" href='bundles/util/js/select2/select2.css' />
<body id="MainBody">
    <div class="MainHeader">
	    <div class="span4 offset2" style="margin-top:15px;"></div>
	    <div class="navbar">
	        <div class="navbar-inner">
	            <div class="span4 offset2">
	                <!-- header -->
	                <table width="100%" border="0">
	                    <tr>
	                        <td align="left">
	                            <img class="img_logo" src='bundles/util/images/icon/logos.png'>
	                        </td>
	                        <td align="right">
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>
	</div>


    <div id="MainContent">
        <h2 align="center">El sitio web está temporalmente fuera de servicio, estamos realizando tareas de mantenimiento. Estará disponible en breve.</h2>
    </div>

    <footer id="MainFooter">
        <div class="container">
    		<div class="row">
                <p class="btn-footer">2014 © Grup Eina Digital · Centro de Innovación y Recursos.</p>
		    </div>
		</div>
    </footer>

</body>
</html>

